.navbar {
    background-color: rgb(96, 200, 248);
}
.task1 {
    height: 400px !important ;
    border: solid ;
    border-radius: 10%;
    overflow: hidden;
}
.col-6 {
    background-color: green;
    
}
.col-6 div {   
   padding: 50%;

}
.col-2 {
    background-color: rgb(96, 200, 248);
    
}
.col-2 div {   
    text-align: center;
    margin-top: 340px;
    font-weight: bold;
 
 }
.col-4 {
    background-color: yellow;
}
.col-4 div {   
    padding: 50%;
 
 }
 .exercises{    
     text-align: center;
 }