body {
    background-color: rgba(190, 160, 160, 0.726);
  }
  .bg-brown {
    background-color: rgba(119, 86, 86, 0.726);
  }
  .album-container {
    margin: auto;
  }
  .album-container img {
    
  }
  .album-cover {
    margin: auto;
  }
  .album-title {    
    
  }
  .album-artiste {
    color: white;
    
    margin: 0 auto;
  }
  .album-genre {
    
    
  }
  #favorite-album {
    color: rgb(201, 237, 246);
    width: 100%;
  }
  .sections {
    text-align: center;
    color: rgb(92, 92, 92);
  }