div.footer li {
  color: #ae8c8a;
}

.customNavbar {
  background-color: #007bff;
}
.task1 {
  height: 400px;
  border: solid;
  border-radius: 50px;
  overflow: hidden;
}
.firstColumn {
  background-color: #6bb56b;
}
.firstColumn div {
  color: white;
  text-align: center;
  margin-top: 150px;
}
.secondColumn {
  background-color: #007bff;
  color: white;
}
.secondColumn div {
  text-align: center;
  margin-top: 300px;
  font-weight: bold;
  
}
.columnThree {
  background-color: #ffe41f;
  color: white;
}
.columnThree div {
  text-align: center;
  margin-top: 40px;

}
.exercises {
  text-align: center;
}
